# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Project Generated Datasets & Models
FinalProject/dataset/
FinalProject/model/
dataset/
model/
